@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  font-family: 'Montserrat', sans-serif;
  background: url("../../Images/formbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.formContainer {
  width: 94vw;
  max-width: 600px;
  background: #ffffffb4;
  backdrop-filter: blur(5px);
  padding: 30px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  flex-direction: row;
  transform: translateX(0%);
  transition: transform 0.5s ease;
  width: 200%; /* Twice the width for sliding effect */
}

.showSignup {
  transform: translateX(-50%);
}

.formContent {
  width: 50%; /* Each form takes half of the slider */
  padding: 20px;
  text-align: center;
}

.formContent h1 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  font-size: 16px;
}

.submitButton {
  background: #6a11cb;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  padding: 10px;
  text-transform: none;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background: #2575fc;
}

.toggleText {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.toggleButton {
  color: #6a11cb;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.toggleButton:hover {
  text-decoration: underline;
}
