@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes pulse {
  0% { text-shadow: 0 0 10px #1136c9, 0 0 20px #2ee331; }
  50% { text-shadow: 0 0 20px #3c15bb, 0 0 30px #1ab453; }
  100% { text-shadow: 0 0 10px #1f23ff, 0 0 20px #1dc63f; }
}

/* .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: linear-gradient(135deg, #a6c540, #4ad2eb);
  color: rgb(163, 3, 121);
  font-family: 'Poppins', sans-serif;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out; */


.timer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(to right, #fffefe, #c10511);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timer-content {
  display: flex;
  gap: 20px;
}

.timer-box {
  background: rgba(157, 212, 223, 0.2);
  padding: 20px;
  border-radius: 12px;
  min-width: 90px;
  transition: transform 0.3s;
}

.timer-box:hover {
  transform: scale(1.1);
}

.glow {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  animation: pulse 1.5s infinite alternate;
}

.timer-box span {
  font-size: 14px;
  display: block;
  margin-top: 5px;
  opacity: 0.8;
  color: #010abc;
}
